/* Resets */
@import "/node_modules/sanitize.css/sanitize.css";
@import "/node_modules/sanitize.css/typography.css";

/* Fonts */
@import "/node_modules/@fontsource/poppins/200.css";
@import "/node_modules/@fontsource/poppins/400.css";
@import "/node_modules/@fontsource/poppins/600.css";

:root {
  /* Colors */
  --red: #ea5353;
  --cyan: #45d3d3;
  --orange: #fcaf4a;
  --blue: #549ef2;
  --very-dark-blue: #4c4e61;
  --grayish-blue: #a3a5ae;
  --very-light-gray: #fafafa;
  --shadow: #3e6bad33;
  --bg: #fafafa;
  --card-bg: white;
  --font-sans: poppins, sans-serif;
  --text: var(--very-dark-blue);
  --text-secondary: var(--grayish-blue);

  /* Size tokens. Makes media queries simpler */
  --title-size: 32px;
  --description-size: 15px;
  --card-title-size: 20px;
  --card-text-size: 13px;
  --card-width: 350px;
  --card-height: 250px;
  --header-width: 512px;
  --border: 4px;
  --card-padding: 32px;
  --container-gap: 32px;
}

/* Dark Mode */

/* @media (prefers-color-scheme: dark) {
  :root {
    --red: #F56565;
    --cyan: #38B2AC;
    --orange: #F6AD55;
    --blue: #4299E1;
    --very-dark-blue: #4c4e61;
    --grayish-blue: #a3a5ae;
    --very-light-gray: #fafafa;
    --shadow: #0000;
    --bg: #171923;
    --card-bg: #1A202C;
    --text: #F7FAFC;
    --text-secondary: #CBD5E0;
  }
} */

/* Reset Ul styles */
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text);
  background-color: var(--bg);
  font-family: var(--font-sans);

  /* Center Content on Page */
  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  display: grid;
  place-items: center;
  gap: 3rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: var(--header-width);
  max-width: var(--header-width);
}

.title {
  font-size: var(--title-size);
  text-align: center;
}

.title>div:first-child {
  font-weight: 200;
}

.title>div:last-child {
  font-weight: 600;
}

.description {
  color: var(--text-secondary);
  font-size: var(--description-size);
  text-align: center;
}


/* Card Container */
.card-container {
  display: flex;
  place-items: center;
  flex-direction: column;
  gap: var(--container-gap);

  /* Reset styles */
  list-style-type: none;
  padding: 0;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--card-width);
  height: var(--card-height);
  padding: var(--card-padding);
  gap: 1rem;
  border-radius: var(--border);
  box-shadow: 0 10px 15px -3px var(--shadow), 0 4px 6px -4px var(--shadow);
  background-color: var(--card-bg);
  outline: solid 1px var(--border);
  border-top: solid var(--border) var(--border-color);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-title {
  font-weight: 600;
  font-size: var(--card-title-size);
}

.card-text {
  line-height: 23px;
  font-size: var(--card-text-size);
  color: var(--text-secondary);

  /* PxP */
  margin-top: -8px;
}

/* Place Icon on right */
.icon {
  display: flex;
  flex-direction: row-reverse;
}

/* Laptop L & larger Use special grid layout */
@media (min-width: 1440px) {
  .card-container {
    /* Use 3x2 grid */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    /* Pxp */
    margin-top: 1rem;
  }

  .card:first-child {
    grid-row: 1/3;
    grid-column: 1/1;
  }

  .card:last-child {
    grid-row: 1 / 3;
    grid-column: 3/3;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  :root {
    --title-size: 36px;
    --card-width: 350px;
    --card-height: 250px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  .card-container {
    /* Display cards in compact 2x2 grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/* Mobile L */
@media (max-width: 512px) {
  :root {
    /* Reduce sizes */
    --title-size: 24px;
    --card-width: 310px;
    --container-gap: 24px;
    --card-height: 220px;
    --header-width: 300px;
  }

  body {
    margin-top: 3rem;
  }
}

/* Mobile S */
@media (max-width: 330px) {
  :root {
    --container-gap: 1rem;
    --card-width: 290px;
    --card-padding: 24px;
  }

  .icon img {
    width: 42px;
    height: 42px;
  }
}

/* Utilities for border colors */
.border-red {
  --border-color: var(--red);
}

.border-cyan {
  --border-color: var(--cyan);
}

.border-orange {
  --border-color: var(--orange);
}

.border-blue {
  --border-color: var(--blue);
}