/* CSS Resets */
@import "/node_modules/sanitize.css/sanitize.css";
@import "/node_modules/sanitize.css/typography.css";

/* Fonts */
@import "/node_modules/@fontsource/red-hat-display/variable.css";

:root {
  --red-hat-display: "Red Hat DisplayVariable";
  --pale-blue: #e0e8ff;
  --bright-blue: #3829e0;
  --brighter-blue: #756af1;
  --very-pale-blue: #f5f7ff;
  --desaturated-blue: #7280a7;
  --dark-blue: #1f2f56;
}

body {
  font-family: var(--red-hat-display), sans-serif;
  color: var(--desaturated-blue);
  background-color: var(--pale-blue);
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

article {
  max-width: 450px;
  margin: auto;
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
}

button > a {
  /* Fonts */
  font-family: var(--red-hat-display), sans-serif;
  font-weight: 900;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

.choice {
  /* max-width: 250px; */
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--very-pale-blue);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.plan {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h2 {
  color: var(--dark-blue);
  font-size: 26px;
  font-weight: 900;
}

h3 {
  color: var(--dark-blue);
  margin: 0;
}

.hero {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
}

button {
  font-weight: 900;
  width: 100%;
  border: unset;
  font-size: 16px;
  padding: 1rem;
  border-radius: 1rem;
  margin: 12px 0;
}

p {
  max-width: 300px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.button-primary {
  color: var(--very-pale-blue);
  background-color: var(--bright-blue);
  box-shadow: 0 10px 15px -3px #756af180, 0 4px 6px -4px #756af180;
}

.button-primary:hover {
  background-color: var(--brighter-blue);
  color: var(--very-pale-blue);
}

.button-secondary {
  z-index: 10;
  background-color: white;
  color: var(--desaturated-blue);
}

.button-secondary:hover {
  color: var(--dark-blue);
  background: transparent;
  margin-left: auto;
}

.change-link {
  margin-left: auto;
  color: var(--bright-blue);
}

.change-link:hover {
  color: var(--brighter-blue);
}

.test {
  color: red;
}
