@import "/node_modules/@fontsource/kumbh-sans/variable.css";
@import "/node_modules/tailwindcss/tailwind.css";

.img-1 {
  position: fixed;
  top: 50%;
  right: -25%;
}

.img-2 {
  position: fixed;
  top: -50%;
  left: -25%;
}