{% set repo = "https://github.com/ianmuchina/fe" %}
{% set branch = "main" %}
{% set img = "design/desktop-preview.jpg" -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Frontend Mentor solutions</title>
    <meta name="description" content="Solutions to Frontend Mentor challenges">
    <link rel="stylesheet" href="index.css"/>
  </head>
  <body class="bg-gray-200 py-12 px-4">
    <style>
      @import url("/node_modules/@fontsource/inter/variable.css");
      body {
        font-family: "Inter", "InterVariable", sans-serif;
      }
      .thumbnail:hover > img {
        transform: scale(1.06);
      }
      article {
        display: grid;
        grid-template-rows: 240px auto;
      }
    </style>
    <h1 class="p-6 text-center text-3xl font-bold text-gray-800">
      Frontend Mentor solutions
    </h1>
    <main class="mx-auto grid max-w-5xl gap-2 sm:grid-cols-2 lg:grid-cols-3">
      {% for s in solutions %}
        {% if s.completed %}
          <article
            class="overflow-hidden rounded-md border border-gray-300 bg-white">
            <!-- Card Thumbnail -->
            <div
              class="thumbnail relative overflow-hidden">
              <!-- Thumbnail Image -->
              <img
              alt="" src="{{ s.dir }}/{{ img }}" loading="lazy" height="214px" class="translate transition-all duration-300"/>
              <!-- Overlay -->
              <a aria-label="{{ s.name }}}}" href="{{ s.dir }}" class="absolute top-0 bottom-0 left-0 right-0 transition-all duration-300 hover:bg-gray-900/20"></a>
            </div>
            <!-- Card Content -->
            <div class="flex h-full flex-col justify-between gap-4 p-6">
              <h2 class="flex h-full text-gray-800 text-xl font-medium hover:underline">
                <a href="{{ s.dir }}">{{ s.name | capitalize }}
                </a>
              </h2>
              <div
                class="flex justify-between">
                <!-- Languages/Technologies -->
                <span class="text-sm font-bold">
                  <span class="text-cyan-700">HTML</span>
                  <span class="text-blue-600">CSS</span>
                  {% if s.js %}
                    <span class="text-fuchsia-600">JS</span>
                  {% endif %}
                  {% if s.api %}
                    <span class="text-lime-700">API</span>
                  {% endif %}
                </span>
                <!-- Newbie -->
                {% if s.level == 1 %}
                  <div class="flex overflow-hidden rounded-md border border-cyan-700 text-xs font-bold">
                    <span class="flex items-center bg-cyan-700 px-2 leading-none text-white">{{ s.level }}</span>
                    <span class="flex items-center bg-white px-2 leading-none text-cyan-700">NEWBIE</span>
                  </div>
                {% endif %}
                <!-- Junior -->
                {% if s.level == 2 %}
                  <div class="flex overflow-hidden rounded-md border border-lime-600 text-xs font-bold">
                    <span class="flex items-center bg-lime-700 px-2 leading-none text-white">{{ s.level }}</span>
                    <span class="flex items-center bg-whiteg px-2 leading-none text-lime-700">JUNIOR</span>
                  </div>
                {% endif %}
              </div>
              <!-- Link to Source -->
              <p class="font-medium">
                <a class="text-gray-800 decoration-red-500 underline decoration-2" href="{{ repo }}/tree/{{ branch }}/src/{{ s.dir }}">Source</a>
              </p>
            </div>
          </article>
        {% endif %}
      {% endfor %}
    </main>
  </body>
</html>